@import "./reset.css";
@import "./global.css";

.header {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.header .logo {
  max-width: 300px;
  margin-top: 100px;
  z-index: 1;
}
.characters-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: calc(100vh -232px);
}

.characters-selection .characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 585px;
  gap: 30px;
  opacity: 1;
  transition: all 0.4s;
}

.characters-selection .characters .title {
  font-size: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-bottom: 4px solid #DBA90D;
  width: 100%;
  text-align: center;
}

.characters-selection .character img {
  max-width: 120px;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  filter: grayscale(1);
}

.characters-selection .character img:hover {
  filter: grayscale(0);
}

.characters-selection .character.selected {
  border: 4px solid #DBA90D;
  border-radius: 15px;
  transform: scale(1.3) rotate(15deg);
  z-index: 2;
}

.characters-selection .characters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.selected-character {
  text-align: center;
}

.selected-character .big-character {
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-character .big-character .big-character-img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.3s;
  z-index: 10;
}

.selected-character .big-character .big-character-img:hover {
  transform: translate(-600px, 110px) scale(1.8) rotate(-10deg);
  z-index: 10;
}

.selected-character .character-info .character-name {
  border-bottom: 4px solid #DBA90D;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.selected-character .character-info .character-description {
  max-width: 50ch;
  font-size: 16px;
  line-height: 1.5rem;
  text-align: center;
}

@media (max-width: 1120px) {
  .header .logo {
    max-width: 150px;
  }

  .characters-selection {
    flex-direction: column-reverse;
    max-width: 430px;
    margin: 0 auto;
  }

  .characters-selection .characters-list {
    gap: 15px;
  }

  .characters-selection .characters img {
    width: 80px;
  }

  .selected-character .big-character {
    width: 350px;
    height: 350px;
  }

  .selected-character .big-character .big-character-img:hover {
    transform: translate(0, 0) scale(1.3) rotate(-10deg);
  }

  .selected-character .character-description {
    width: 80%;
    margin: 20px auto;
    font-size: 16px;
  }
}
